<div class="page-header">
  <h1>Asphaleia<br/>
    <small>Simple Linux Firewalling</small></h1>
</div>
<div id="overview">
  <table class="table">
    <tbody>
      <tr>
          <td><h5>Asphaleia Agent</h5></td>
          <td>
            <h5>
              <span class="label label-
              <?php
              if ($data->agentRunning())
              {
                echo 'success';
              }
              else
              {
                echo 'danger';
              }
              ?>
              "><?php echo $data->getPidContent(); ?>
              </span>
            </h5>
          </td>
      </tr>
      <tr>
          <td><h5>Version</h5></td>
          <td><h5><span class="label label-success">Up to date</span></h5></td>
      </tr>
    </tbody>
  </table>
</div>