<ul id="menu-list" class="list-group">
  <a href="/asphaleia/public/dashboard/index/" class="list-group-item<?php $this->checkActiveMenu('dashboard'); ?>">Dashboard</a>
  <a href="/asphaleia/public/interfaces/index" class="list-group-item<?php $this->checkActiveMenu('interfaces'); ?>">Interfaces</a>
  <a href="/asphaleia/public/addressobjects/objects" class="list-group-item<?php $this->checkActiveMenu('addressobjects'); ?>">Addressobjects</a>
  <a href="/asphaleia/public/iptables/index/1" class="list-group-item<?php $this->checkActiveMenu('iptables'); ?>">IPtables</a>
  <a href="/asphaleia/public/configuration/index" class="list-group-item<?php $this->checkActiveMenu('configuration'); ?>">Configuration</a>
</ul>