<div class="panel-group" id="accordion">
    <!-- Address objects -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#addressobjects">
                    Address objects
                </a>
            </h4>
        </div>
        <div id="addressobjects" class="panel-collapse collapse in">
            <div class="input-group" id="addressobjectssearch">
                <span class="input-group-addon">Search:</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" required>
            </div>
            <div class="panel-body" id="searchResults">
                <ul class="list-group">
                    <li class="list-group-item">Test 1</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Address object groups 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#addressgroups">
                    Address object groups
                </a>
            </h4>
        </div>
        <div id="addressgroups" class="panel-collapse collapse">
            <div class="panel-body">
                Test Address object groups
            </div>
        </div>
    </div>
    -->
</div>