body {
  padding: 0px;
  margin: 0px;
}

span .danger {
  background-color: #D9534F;
}

/* IDs Container */
#maincontainer {
}

#menu {
  overflow: scroll;
  height: 700px;
}

#workingspace {
  min-height: 700px;
  padding: 10px 15px;
}

#changingspace {
  min-height: 700px;
}

#footer {
}

#footer p {
  padding-right: 5px;
  padding-top: 5px;
}

#overview td {
  padding: 5px;
  font-size: 12px;
}

#overview h5 {
  font-size: 12px;
  margin: 0px;
}

.form-control {
  width: auto;
}

/* Classes */
.addingspace {
  width: 25%;
}

.addingspace .form-control {
  width: 100%;
}

.danger {
  background: #D9534F;
}

.container {
  width: auto;
}

.hidden {
  display: none;
}

.menu-list-container {
  margin-bottom: 0px;
}

.page-header {
  margin: 0px;
  margin-left: 5px;
}

.bestaetigung {
  position: absolute;
  display: none;
}

.version {
  font-style: italic;
  font-size: 10px;
  text-align: right;
}

/* Grid Layout*/
.row {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
}

.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding: 0px;
  border: 1px solid #ddd;
  border: 1px solid rgba(86,61,124,.2);
}