<form role="form">
    <div class="addingspace" id="addingspace">
        <div id="addressobjects-space">
            <div class="input-group" id="name">
                <span class="input-group-addon">Name:</span>
                <input type="text" class="form-control" aria-describedby="basic-addon1" value="<?php echo $data[0]->getName(); ?>">
            </div>
            Description:
            <textarea class="form-control" rows="5" id="comment"><?php echo $data[0]->getDescription(); ?></textarea>
            <h6 id="comment-chars">0/200</h6>
            Group items:
            <ul class="list-group" id="objects">
                <?php if( sizeof($data[1]) == 0 ) { ?><li class="list-group-item placeholder">Add your objects here.</li><?php } ?>
                <?php 
                for ($i=0; $i < sizeof($data[1]); $i++) { 
                ?>
                <li class="list-group-item" value="<?php echo $data[1][$i]->getId(); ?>"><?php echo $data[1][$i]->getName(); ?><a href='#'> <span class='glyphicon glyphicon-remove' aria-hidden='true'></span></a></li>
                <?php
                }
                ?>
            </ul>
            <button id="closebutton" type="button" class="btn btn-default">Close</button>
            <button id="save" type="button" class="btn btn-default" value="<?php echo $data[0]->getId(); ?>">Save</button>
        </div>
    </div>
</form>