<tr>
    <td><?php echo $data->getInterface(); ?></td>
    <td><?php echo $data->getName(); ?></td>
    <td><?php echo $data->getIpv4address(); ?></td>
    <td><?php echo $data->getMask(); ?></td>
    <td><?php echo $data->getBcast(); ?></td>
    <td><?php echo $data->getIpv6address(); ?></td>
    <td><?php echo $data->getDnsname(); ?></td>
    <td><?php echo $data->getDescription(); ?></td>
    <td><?php echo $data->getMac(); ?></td>
    <td><?php echo $data->getType(); ?></td>
    <td><?php echo $data->getMtu(); ?></td>
</tr>