
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <div class="btn-group newobject">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    New object <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/asphaleia/public/add/object" target="_blank">Object</a></li>
                    <li><a href="/asphaleia/public/add/objectgroup" target="_blank">Object group</a></li>
                  </ul>
                </div>
            </td>
        </tr>
    </tfoot>
</table>